section {
    margin: 0 auto;
    background-color: #f3f3f5;
    padding-top: 80px;
    padding-bottom: 80px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input {
    width: 25%;
    height: 50px;
    border-radius: 40px;
    padding: 0 20px;
    font-size: medium; 
    border: none;
}

button {
    border-radius: 20px;
    color: black;
    background-color: #fdda24;
    padding: 10px;
    border: none;
    font-size: 17px;
    font-family: "Charlie Text", sans-serif;
    font-weight: 600;
    cursor: pointer;
}

h3 {
    font-family: "Charlie Text", sans-serif;
    font-size: 16px;
    margin-top: 15px;
}