section {
    margin: 0 auto;
    background-color: #f3f3f5;
    padding-top: 80px;
    padding-bottom: 80px;
}

.hero-container {
    display: grid;
    max-width: 1140px;
    margin: 0 auto;
}

.about-items {
    display: grid;
    gap: 30px;
}